body {
    font-family: sans-serif;
    padding: 20px;
    background: #fdce97;
    color: #000;
}

form,
#output {
    margin-top: 20px;
    background: #c57206;
    padding: 15px;
    border-radius: 10px;
}

body.dark {
    background: #240c01;
    color: #ffffff;
}

body.dark form,
body.dark #output {
    background: #d39e00;
}

button {
    margin: 5px 5px;
    padding: 8px 14px;
    font-weight: bold;
    background: #fff3c7;
    color: #542e0f;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

body.dark button {
    background: #844700;
    color: #fdfdfd;
}

#musicToggle {
    margin: 10px;
    font-size: 14px;
}

#volumeControl {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#volumeSlider {
    width: 150px;
}

footer {
    font-style: italic;
    opacity: 0.8;
}

