h1 {
    text-align: center;
    color: #542e0f;
}

button {
    background-color: #e3b656;
    color: #542e0f;
    font-weight: bold;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #e3b656;
}
